[Unit]
Description=Run lego-renewal.service at specific time

[Timer]
OnCalendar={{ renewal_time }}
Unit=lego-renewal.service
RandomizedDelaySec={{ randomized_delay }}

[Install]
WantedBy=timers.target